# encoding: utf-8

<table id="new_table" border="0">
  <tr>
    <th>タイトル</th>
    <td><%= @item.title %></td>
  </tr>

  <tr>
    <th>概要</th>
    <td><%= @item.overview %></td>
  </tr>

  <tr>
    <th>確度</th>
    <td><%= @item.reliability %></td>
  </tr>

  <tr>
    <th>&nbsp;</th>
    <td style="text-align: center;">&nbsp;</td>
  </tr>

</table>


