// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index_table {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#index_table td {
    //text-align: left;
}

#new_table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#new_table tr th {
    width: 10%;
    //text-align: right;
}

#new_table tr td {
    width: 40%;
    text-align: left;
}


